{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quera</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'css/style.css' %}'>
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src='{% static 'js/load.js' %}' defer></script>
</head>
<body>
<div class="row main_bar left-side needs-validation" dir="rtl">
    <div class="col-md-3 title">
        <i class="fas fa-sign-in-alt fa-6x icon-welcome"></i>
        <h3>Welcome</h3>
        <p>register</p>
        <p>or log in</p>
    </div>
    <div class="col-md-9 right-side" dir="lrt">
        <div class="alert alert-success">
            registered successfully refresh in 3 seconds...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger">
            Error
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="d-inline justify-content-end list-group" id="list-tab" role="tablist">
            <a class="d-inline list-group-item list-group-item-action active font-titr" id="list-home-list"
               data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">sign up</a>
            <a class="d-inline list-group-item list-group-item-action font-titr " id="list-login-list"
               data-bs-toggle="list" href="#list-login" role="tab" aria-controls="list-profile">log in</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h3 class="register-heading font-titr register_text">sign up</h3>
                {{ re_form }}
                <div class="row register-form">
                    <div class="col-sm-12 col-md-6">
                        <form class="needs-validation" id="myform">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="name *" value=""
                                       required/>
                                <div class="form-text">at least five letters</div>
                                <div class="valid-feedback deactive" style="color: green;">
                                    entered name is correct
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="last-name" placeholder="last name *"
                                       value="" required/>
                                <div class="form-text">at least five letters</div>
                                <div class="valid-feedback deactive" style="color: green;">
                                    entered name is incorrect
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="password *"
                                       value="" required/>
                                <div class="form-text">at least six letters with number</div>
                                <div class="valid-feedback deactive" style="color: green;">
                                    entered password is correct
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary font-titr btn_sample">sign up</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="email *" value=""
                                   required/>
                            <div class="form-text">entered email is correct</div>
                            <div class="valid-feedback deactive" style="color: green;">
                                entered email is correct
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" minlength="10" maxlength="10" id="phone" name="txtEmpPhone"
                                   class="form-control"
                                   placeholder="phone number *" value="" required/>
                            <div class="form-text">appropriate phone number</div>
                            <div class="valid-feedback deactive" style="color: green;">
                                entered phone number is correct
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password-confirm"
                                   placeholder="confirm password *" value="" required/>
                            <div class="form-text">confirm password</div>
                            <div class="valid-feedback deactive" style="color: green;">
                                passwords match
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-link font-titr btn_sample" id="refreshBtn">reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-login" role="tabpanel" aria-labelledby="list-login-list">
                <h3 class="register-heading font-titr register_text">log in</h3>

                <div class="row register-form">
                    <div class="alert alert-success">
                        an email is sent for you
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger">
                        no email was found please sign up first
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <form class="needs-validation" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit"/>submit
                    </form>
                    {#                     <form class="needs-validation" id="login_form" method="post" action="accounts/login/">#}
                    {#                         {% csrf_token %}#}
                    {#                          {{ form }}#}
                    {#                         <input type="submit" />#}

                    {#                     </form>#}

                    <div class="col-md-6">

                    </div>
                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" id="forgetPassword" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        forget password
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header justify-content-end">
                                    <h5 class="modal-title" id="exampleModalLabel" dir="rtl">forget password</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>

                                </div>
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">email</span>
                                        <input type="text" id="forget_email" class="form-control"
                                               aria-label="Sizing example input"
                                               aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        close
                                    </button>
                                    <button type="button" class="btn btn-primary" id="command_button"
                                            data-bs-dismiss="modal">process
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>